<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="keym.dev.rwethereyet">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_amber_white"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Fuscus">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".addlocation.AddLocationActivity"
            android:launchMode="singleTask"
            android:label="@string/add_location_activity_name"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:launchMode="singleTask"
            android:label="@string/settings_activity_name"></activity>

        <service
            android:name=".background.NotificationService">
            <intent-filter>
                <action android:name="NOTIFICATION_SERVICE"/>
            </intent-filter>
        </service>

        <service android:name=".background.LocationUpdateService"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAxFnfrTaPG7VZ6VJLz-CV2pIDe-ti0NPc"/>

    </application>

</manifest>